.avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
}
@media (max-width: 767.98px) {
    .wg-about .avatar {
        width: 200px;
        height: 200px;
    }
}

h1 {
    font-size: 1.75rem;
    letter-spacing: 3px;
}

h3 {
    line-height: 2;
}

html {
    line-height: 2;
    letter-spacing: 0.5px;
}

.media.stream-item .article-title,
.card-simple .article-title {
    font-size: 1.3rem;
}
